node_modules
npm-debug.log
dist
build
.git
.gitignore
.dockerignore
README.md
.env
.env.example
.editorconfig
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
coverage
.nyc_output
.eslintignore
.prettierignore
.github
.gitlab-ci.yml
.circleci
Jenkinsfile
docker-compose.yml
Dockerfile
.dockeynoderignoree
